.profile-type-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid $border-chat;

    span,
    h4 {
        margin: 0;
    }
}

.profile-type-info:last-child {
    border: none;
}
