.popup {
    z-index: 1000;
    background: #0f0f0f56;
    position: absolute;
    top: -1000px;

    @include forCardCenterPosition;

    .pop {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 340px;
        padding: 1rem;
        background: $white;
        border-radius: 10px;
        box-shadow: 0 0 5px $input-underline;

    }

    .input-wrap:nth-child(3n) {
        margin-bottom: 8rem;
    }

    .form {
        @include flexCenterPosition;
    
        flex-direction: column;
    }
}
