.input-wrap {
    position: relative;
    width: 100%;
    margin-bottom: $margin-bottom-input;

    .input {
        display: block;
        margin: 0 auto;
        font-size: $middle-font-size;

        @include inputNone;
    }

    .lable {
        position: absolute;
        display: block;
    }

    .log {
        width: 15rem;
        border-bottom: 1px solid $input-underline;
    }

    .log-lable {
        top: -0.1rem;
        left: 0.5rem;
        font-size: 1rem;
        transition:
            top 200ms ease-in,
            left 200ms ease-in,
            font-size 200ms ease-in;

        @include dontSelect;
    }

    .log:focus ~ .log-lable,
    .log:not(:placeholder-shown) ~ .log-lable {
        top: -1rem;
        left: -0.5rem;
        font-size: 0.8rem;
    }

    .log:not(:placeholder-shown) {
        border-bottom: 1px solid $button-color;
    }

    .search {
        width: 85%;
        padding: 0.5rem;
        background: $none-icon-chat;
        border-radius: $border-radius;
    }

    .search-lable {
        top: 0.4rem;
        left: 45%;
        color: $chat-list-color;
    }

    .search:focus ~ .search-lable,
    .search:not(:placeholder-shown) ~ .search-lable {
        visibility: hidden;
    }
}
